// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #2A4166;
$secondary : #4DA32F;
$accent    : #9AC2D9;

$dark      : #1D1D1D;

$positive  : #5AA700;
$negative  : #FF1428;
$info      : #1875F0;
$warning   : #FFFF00;

@import '~quasar-variables-styl'
